<!DOCTYPE html>
<html>
    <head>
        <title>My blog - {{ title }}</title>
    </head>
    <body>
        {{ content }}
    {% if page.previous.url %}
        <a href="{{page.previous.url}}">{{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
        <a href="{{page.next.url}}">{{ page.next.title }}</a>
    {% endif %}
    </body>
</html>

